.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  background-color: #2b3566;
  padding: 2rem;
  border-radius: 1rem;
}

.search p {
  color: #9da5d1;
}

.search_container {
  display: flex;
  gap: .5rem;
}

.search_container input,
.search_container button {
  border-radius: 3px;
  border: none;
  outline: none;
  padding: .6rem;
  color: #2b3566;
}

.search_container button {
  background-color: #0e1129;
  cursor: pointer;
}