* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #fff;
}

body {
  background-color: #0e1129;
  padding: 2rem;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}

.error {
  margin: 2rem;
}

.custom-loader {
  margin: 0 auto;
  width:50px;
  height:50px;
  border-radius:50%;
  background: conic-gradient(#0000 10%,#766DF4);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
}

@keyframes s3 {to{transform: rotate(1turn)}}